
html, body {
  background-image: url('../images/FondoMarista.png');
  margin: 0;
}
.banner{
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 24px;
  color: #00375D;
  background: rgba(157,157,157,.5);
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.content {
  line-height: 200px;
  text-align: center;
}
.m-b-md {
  margin-bottom: 30px;
}
#button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.footer{
  width: 100%;
  height:70px;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:0;
  text-align: center;
  font-size: 12px;
  background: rgba(157,157,157,.5);
}